{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_index' %}

{% block main %}
    <h1>{{ 'Liste des utilisateurs'|trans }}</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col">{{ 'label.username'|trans }}</th>
                <th scope="col">{{ 'email'|trans }}</th>
                <th scope="col">{{ 'roles'|trans }}</th>
                <th scope="col">{{ 'is_verified'|trans }}</th>
                <th scope="col">{{ 'avatar'|trans }}</th>
                <th scope="col">{{ 'gender'|trans }}</th>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'subscribe'|trans }}</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% if users is defined %}
            {% for user in users %}
                <tr>
                    {% if user.fullName is defined %}
                        <td>{{ user.fullName }}</td>
                    {% else %}
                        <td class="text-danger">non défini</td>
                    {% endif %}
                    <td>{{ user.email }}</td>
                    {% for role in user.roles %}
                        <td>{{ role }}</td>
                    {% endfor %}
                    {#<td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}

                    <td>{{ user.isVerified ? 'Yes' : 'No'  }}</td>

                    <td ><img src="{{ asset('/uploads/'~user.avatar) }}" alt="thumbnail image" class="img-fluid img-thumbnail"></td>

                    {% if user.gender is not null %}
                    <td class="text-danger">{{ user.gender ? 'Homme' : 'Femme' }}</td>
                    {% else %}
                        <td class="text-danger">non défini</td>
                    {% endif %}

                    <td class="text-primary">01/12/2021</td>

                    {#<td>#}
                        {#<a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>#}
                    {#</td>#}

                    {# it's not mandatory to set the timezone in localizeddate(). This is done to
                       avoid errors when the 'intl' PHP extension is not available and the application
                       is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                    {#<td>{{ user.publishedAt|format_datetime('medium', 'short', '', 'UTC') }}</td>#}
                    <td class="text-right">
                        <div class="item-actions">
                            {#<a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>#}

                            <a href="{{ path('admin_user_show', {id: user.id}) }}" class="btn btn-sm btn-default">
                                <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                            </a>

                            <a href="#" class="btn btn-sm btn-danger">
                                <i class="fa fa-edit" aria-hidden="true"></i>delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" align="center">{{ 'user.users_found'|trans }}</td>
               </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_post'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
