{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        {#<h1>{{ 'title.homepage'|trans|raw }}</h1>#}
        <h1>{{ 'Bienvenue sur mon blog'|trans|raw }}</h1>
    </div>

    <div id="homepageDiv" class="row">
        <div class="col-sm-6 homepageDiv">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_app'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('blog_index') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> {{ 'action.browse_app'|trans }}
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6 homepageDiv">
            <div class="jumbotron">

                {% if app.user %}
                    <p>
                        {#{{ 'help.browse_admin'|trans|raw }}#}
                        {{ 'help.browse_logout'|trans|raw }}
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('security_logout') }}">
                            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_logout'|trans }}
                        </a>
                 </p>
                {% else %}
                    <p>
                        {#{{ 'help.browse_admin'|trans|raw }}#}
                        {{ 'help.browse_login'|trans|raw }}
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}">
                            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_login'|trans }}
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('app_register') }}">
                            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_register'|trans }}
                        </a>
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/homepage.js') }}"></script>
    <script type="text/javascript">
        {#{% block javascripts %}#}
        // Animation Button Homepage
//        $(document).ready(function(){
//            $("button").click(function(){
//                $("div").animate({
//                    left: '250px',
//                    opacity: '0.5',
//                    height: '150px',
//                    width: '150px'
//                });
//            });
//        });

//        $(window).load(function() {
//            $("#homepageDiv").fadeOut("2000"); })

        {#{% endblock %}#}
    </script>
{% endblock %}
