{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}


    {# // START Show article by categories AJAX  // #}
    {# <div class="container">
        <div class="row">
                
            {% for cat in cats %}
                <div class="col-sm-2 nav-link">
                    <a class="nav-link class_cat_{{ cat.id }}" href="#">{{ cat.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div> #}
 
    {#// END Show article by categories AJAX  //#}

    <div class="jumbotron">
        {#<h1 class="display-4">Hello, world!</h1>#}
                
        <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="la.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="ny.jpg" alt="New York" width="1100" height="500">
        </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        </a>
        </div>

        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    

   


    {% for post in paginator.results %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_post', {slug: post.slug}) }}">
                    {{ post.title }}
                </a>
            </h2>
            {% if post.image %}
                <div class="d-inline p-4">
                    <a href="{{ path('blog_post', {slug: post.slug}) }}">
                    {#<img src="{{ asset('/uploads/'~post.image) }}" alt="Responsive image" class="img-fluid max-width: 100%" >#}
                        {#<img src="{{ asset('/uploads/'~post.image) | imagine_filter('medium') }}" alt="image article" class="img-fluid max-width: 100%" >#}
                    {#</a>#}
                {#</div>#}
                        <picture class="media-object">
                            <source media="(max-width: 767px)"
                                    sizes="(max-width: 1534px) 100vw, 1534px"
                                    srcset="
                                        {{ asset('/uploads/'~post.image) | imagine_filter('medium') }} 750w,
                                        {#{{ asset('/uploads/'~post.image) | imagine_filter('echelle') }} 750w,#}
                                        {#{{ asset('images/elephant_1131.jpg') }} 1131w,#}
                                        {#{{ asset('images/elephant_1415.jpg') }} 1415w,#}
                                        {#{{ asset('images/elephant_1534.jpg') }} 1534w#}
                                        ">

                            <source media="(min-width: 768px) and (max-width: 1199px)"
                                    sizes="(max-width: 1080px) 50vw, 1200px"
                                    srcset="
                                        {{ asset('/uploads/'~post.image) | imagine_filter('thumb') }} 384w,
                                        {{ asset('/uploads/'~post.image) | imagine_filter('medium') }} 785w">

                                        {#{{ asset('images/elephant_785.jpg') }} 785w,#}
                                        {#{{ asset('images/elephant_1026.jpg') }} 1026w,#}
                                        {#{{ asset('images/elephant_1200.jpg') }} 1200w"#}

                            <img id="mediaCaseObject" sizes="(max-width: 3840px) 50vw, 1920px"
                                 srcset="
                                        {{ asset('/uploads/'~post.image) | imagine_filter('large') }} 600w,
                                        {{ asset('/uploads/'~post.image) | imagine_filter('big') }} 1920w"

                                        {#{{ asset('images/elephant_600.jpg') }} 600w,#}
                                        {#{{ asset('images/elephant_1166.jpg') }} 1166w,#}
                                        {#{{ asset('images/elephant_1585.jpg') }} 1585w,#}
                                        {#{{ asset('images/elephant_1920.jpg') }} 1920w"#}

                                 src="{{ asset('/uploads/'~post.image) | imagine_filter('echelle') }}"
                                 alt="image article">
                        </picture>
                    </a>
                </div>
            {% endif %}

            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
                <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
            </p>

            <p>{{ post.summary }}</p>

            {{ include('blog/_post_tags.html.twig') }}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    {% if paginator.hasToPaginate %}
        <div class="navigation text-center">
            <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                    <li class="prev"><a href="{{ path('blog_index_paginated', {page: paginator.previousPage, tag: tagName}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> {{ 'paginator.previous'|trans }}</a></li>
                {% else %}
                    <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> {{ 'paginator.previous'|trans }}</span></li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="active"><span>{{ i }} <span class="sr-only">{{ 'paginator.current'|trans }}</span></span></li>
                    {% else %}
                        <li><a href="{{ path('blog_index_paginated', {page: i, tag: tagName}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="next"><a href="{{ path('blog_index_paginated', {page: paginator.nextPage, tag: tagName}) }}" rel="next">{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="next disabled"><span>{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ include('pub/pub_code.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        {{ show_source_code(_self) }}
        {{ include('blog/_rss.html.twig') }}
    {% endif %}
{% endblock %}
